In [4]:
import pandas as pd
# plotting
import matplotlib.pyplot as plt
import seaborn as sns
# create interactive plots
import plotly.express as px 
# numeric calculations
import numpy as np

In [5]:
data = pd.read_table("../data/flickr_dataset.csv", sep=",")
# show first 5 rows of the dataframe
data.head()

C:\Users\admin\AppData\Local\Temp\ipykernel_12888\2274232805.py:1: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_table("../data/flickr_dataset.csv", sep=",")

,id,user,lat,long,tags,title,date_taken_minute,date_taken_hour,date_taken_day,date_taken_month,date_taken_year,date_upload_minute,date_upload_hour,date_upload_day,date_upload_month,date_upload_year
0,4.395181e+09,30624617@N03,45.754858,4.821710,"chair,lyon,rhône,chaise,rhônealpes",Chaises avec vue,11.0,15.0,28.0,2.0,2010.0,23,20.0,28.0,2.0,2010.0
1,4.394749e+09,35853470@N00,45.753270,4.862953,NaN,NaN,51.0,17.0,28.0,2.0,2010.0,52,17.0,28.0,2.0,2010.0
2,4.394695e+09,11817998@N05,45.760655,4.846564,"365,iphone",59/365 - R46 V103 B163,29.0,17.0,28.0,2.0,2010.0,33,17.0,28.0,2.0,2010.0
3,4.394804e+09,11545749@N06,45.784000,4.874072,"nin,nineinchnails,gift,screening,toiou,avott",2010-01-29 Toiou Avott Lyon,15.0,20.0,28.0,1.0,2010.0,38,12.0,28.0,2.0,2010.0
4,4.394804e+09,11545749@N06,45.784000,4.874072,"lyon,nin,nineinchnails,gift,screening,toiou,avott",2010-01-28 Toiou Avott Lyon,10.0,20.0,28.0,1.0,2010.0,38,12.0,28.0,2.0,2010.0

In [6]:
len(data)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420195 entries, 0 to 420194
Data columns (total 16 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   id                  420194 non-null  float64
 1   user                420194 non-null  object
 2   lat                 420194 non-null  float64
 3   long                420194 non-null  float64
 4   tags                316703 non-null  object
 5   title               381864 non-null  object
 6   date_taken_minute   420173 non-null  float64
 7   date_taken_hour     420192 non-null  float64
 8   date_taken_day      420192 non-null  float64
 9   date_taken_month    420192 non-null  float64
 10  date_taken_year     420194 non-null  float64
 11  date_upload_minute  420102 non-null  object
 12  date_upload_hour    420190 non-null  float64
 13  date_upload_day     420192 non-null  float64
 14  date_upload_month   420190 non-null  float64
 15  date_upload_year    420193 non-null  float64
dtypes: float64(12), object(4)
memory usage: 51.3+ MB

In [7]:
data.isna().sum()

id                         1
user                       1
lat                        1
long                       1
tags                  103492
title                  38331
date_taken_minute         22
date_taken_hour            3
date_taken_day             3
date_taken_month           3
date_taken_year            1
date_upload_minute        93
date_upload_hour           5
date_upload_day            3
date_upload_month          5
date_upload_year           2
dtype: int64

In [8]:
# Check missing values only in relevant columns (excluding Unnamed)
relevant_cols = data.columns[:16]  # First 16 columns
missing_values_relevant = data[data[relevant_cols].isna().any(axis=1)]
print(f"Total rows: {len(data)}")
print(f"Rows with missing values in relevant columns: {len(missing_values_relevant)}")

# Sum of missing values per relevant column
print("\nMissing values per relevant column:")
print(data[relevant_cols].isna().sum())

Total rows: 420195
Rows with missing values in relevant columns: 118297

Missing values per relevant column:
id                         1
user                       1
lat                        1
long                       1
tags                  103492
title                  38331
date_taken_minute         22
date_taken_hour            3
date_taken_day             3
date_taken_month           3
date_taken_year            1
date_upload_minute        93
date_upload_hour           5
date_upload_day            3
date_upload_month          5
date_upload_year           2
dtype: int64

In [9]:
# Check for duplicates in relevant columns
data[relevant_cols].duplicated().sum()
# remove duplicates
data_without_duplicates = data[relevant_cols].drop_duplicates(keep='first')
# show the stats
print(f"Initial: {len(data)}")
print(f"After removing duplicates: {len(data_without_duplicates)}")

Initial: 420195
After removing duplicates: 189386

In [10]:
# Rename columns to remove leading spaces
data_without_duplicates.rename(columns={
    'id': 'id',
    ' user': 'user',
    ' lat': 'lat',
    ' long': 'long',
    ' tags': 'tags',
    ' title': 'title',
    ' date_taken_minute': 'date_taken_minute',
    ' date_taken_hour': 'date_taken_hour',
    ' date_taken_day': 'date_taken_day',
    ' date_taken_month': 'date_taken_month',  
    ' date_taken_year': 'date_taken_year',
    ' date_upload_minute': 'date_upload_minute',
    ' date_upload_hour': 'date_upload_hour',
    ' date_upload_day': 'date_upload_day',
    ' date_upload_month': 'date_upload_month',
    ' date_upload_year': 'date_upload_year'
}, inplace=True)

# Update relevant_cols to the new column names
relevant_cols = ['id', 'user', 'lat', 'long', 'tags', 'title', 'date_taken_minute', 'date_taken_hour', 'date_taken_day', 'date_taken_month', 'date_taken_year', 'date_upload_minute', 'date_upload_hour', 'date_upload_day', 'date_upload_month', 'date_upload_year']
# Export to CSV
data_without_duplicates[relevant_cols].to_csv('../data/data_cleaned.csv', index=False)

In [11]:
# Load the cleaned data
data_cleaned = pd.read_csv('../data/data_cleaned.csv')
print(len(data_cleaned))

# Define stop words to remove from titles
stop_words = [
    'is', 'the', 'a', 'an', 'est', 'le', 'la', 'un', 'une', 'les', 'des', 'du', 'de', 'à', 'au', 'aux',
    'photo', 'picture', 'image', 'pic', 'img', 'shot', 'view', 'scene', 'france', 'lyon', 'l\'', 'd\'', 'of', 'and', 'or', 'but',
    'in', 'on', 'at', 'to', 'for', 'with', 'by', 'from', 'as', 'into', 'through', 'during', 'before', 'after',
    'above', 'below', 'between', 'among', 'this', 'that', 'these', 'those', 'i', 'you', 'he', 'she', 'it', 'we', 'they', 'insta', 'instagram','lione','europe','auvergne','auvergnerhonealpes'
    '-', '--', '—', '.', ',', '!', '?', ':', ';', '"', "'", '(', ')', '[', ']', '{', '}', '...'
]

import re
import unicodedata

def remove_accents(text):
    return ''.join(
        char for char in unicodedata.normalize('NFKD', text)
        if not unicodedata.combining(char)
    )

def clean_title(title):
    if pd.isna(title):
        return ''
    # Convert to lowercase
    title = str(title).lower()
    title = remove_accents(title)
    # Remove punctuation and special characters
    title = re.sub(r'[^\w\s]', '', title)
    # Split into words
    words = title.split()
    # Remove stop words
    words = [word for word in words if word not in stop_words]
    # Join back
    return ' '.join(words)

def clean_tags(tags):
    if pd.isna(tags):
        return ''
    
    # Convert to lowercase
    tags = str(tags).lower()

    tags = remove_accents(tags)
    # Remplacer les virgules par des espaces
    tags = tags.replace(',', ' ')
    
    # Supprimer ponctuation et caractères spéciaux
    tags = re.sub(r'[^\w\s]', '', tags)
    
    # Découper en mots
    words = tags.split()
    
    # Supprimer les stop words
    words = [word for word in words if word not in stop_words]
    
    # Recomposer
    return ' '.join(words)

# Apply cleaning to title column
data_cleaned['title'] = data_cleaned['title'].apply(clean_title)

# Apply cleaning to tags column
data_cleaned['tags'] = data_cleaned['tags'].apply(clean_tags)

# Save to new CSV
data_cleaned.to_csv('../data/data_cleaned_titles.csv', index=False)

C:\Users\admin\AppData\Local\Temp\ipykernel_12888\1553274970.py:2: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  data_cleaned = pd.read_csv('../data/data_cleaned.csv')

189386

In [12]:
# Check for duplicates in 'id' column
duplicates_id = data_cleaned.duplicated(subset=['id']).sum()
print(f"Number of duplicate rows based on 'id': {duplicates_id}")

# Check for duplicates in ['id', 'user']
duplicates_id_user = data_cleaned.duplicated(subset=['id','user']).sum()
print(f"Number of duplicate rows based on ['id','user']: {duplicates_id_user}")

# Show some examples of duplicates if any
if duplicates_id > 0:
    print("\nExamples of duplicates in 'id':")
    print(data_cleaned[data_cleaned.duplicated(subset=['id'], keep=False)])

if duplicates_id_user > 0:
    print("\nExamples of duplicates in ['id', 'user']:")
    print(data_cleaned[data_cleaned.duplicated(subset=['id', 'user'], keep=False)])

Number of duplicate rows based on 'id': 21290
Number of duplicate rows based on ['id','user']: 21290

Examples of duplicates in 'id':
                  id           user        lat      long  \
16603   5.464485e+09   35635047@N03  45.765517  4.766510
21127   5.464485e+09   35635047@N03  45.765517  4.766510
42833   7.583546e+09   37290448@N04  45.772827  4.841065
45655   7.583546e+09   37290448@N04  45.772827  4.841065
47958   8.150613e+09   58993764@N06  45.761180  4.831458
...              ...            ...        ...       ...
189381  4.440233e+10   90493526@N00  45.758316  4.825197
189382  4.421075e+10  144146684@N04  45.762635  4.837299
189383  4.512236e+10   95450872@N03  45.763657  4.836012
189384  4.507335e+10   95450872@N03  45.763657  4.836012
189385  4.512209e+10   61949122@N06  45.758181  4.831967

                                                     tags  \
16603                           lundimatin lyondefi38nuit
21127                           lundimatin lyondefi38nuit
42833   city blackandwhite water river french concrete...
45655   city blackandwhite water river french concrete...
47958   square squareformat hefe iphoneography instagr...
...                                                   ...
189381  croixrousse streetart wheatpaste wheatpaper co...
189382
189383  auvergnerhonealpes rhone lyonnais valleedurhon...
189384  auvergnerhonealpes rhone lyonnais valleedurhon...
189385       ngc paysage landscape ville urbain town tour

                                  title  date_taken_minute  date_taken_hour  \
16603   lundi matin comme tout autre 25                6.0             21.0
21127      lundi matin comme tout autre               25.0              6.0
42833                            bridge             2012.0             38.0
45655                      bridge rhone             2012.0             38.0
47958                       newlyonnais             2012.0             22.0
...                                 ...                ...              ...
189381             pasted paper big ben               18.0             17.0
189382                      white blood               36.0             16.0
189383             porte passage largue               48.0             19.0
189384                   passage largue               48.0             19.0
189385        tour peut en cacher autre               15.0             14.0

        date_taken_day  date_taken_month  date_taken_year date_upload_minute  \
16603              2.0            2011.0             11.0               15.0
21127             21.0               2.0           2011.0               11.0
42833             11.0               7.0           2012.0                NaN
45655             11.0               7.0           2012.0                NaN
47958              7.0               3.0           2012.0                NaN
...                ...               ...              ...                ...
189381            30.0               9.0           2018.0               11.0
189382             5.0              10.0           2018.0               41.0
189383            27.0               9.0           2018.0               40.0
189384            27.0               9.0           2018.0               29.0
189385            28.0               9.0           2018.0               21.0

        date_upload_hour  date_upload_day  date_upload_month  date_upload_year
16603               21.0              2.0             2011.0               NaN
21127               15.0             21.0                2.0            2011.0
42833                5.0             18.0               16.0            2012.0
45655                5.0             18.0               16.0            2012.0
47958               22.0             15.0                3.0            2012.0
...                  ...              ...                ...               ...
189381              23.0              5.0               10.0            2018.0
189382              22.0              5.0               10.0            2018.0
189383              22.0              5.0               10.0            2018.0
189384              22.0              5.0               10.0            2018.0
189385              22.0              5.0               10.0            2018.0

[42575 rows x 16 columns]

Examples of duplicates in ['id', 'user']:
                  id           user        lat      long  \
16603   5.464485e+09   35635047@N03  45.765517  4.766510
21127   5.464485e+09   35635047@N03  45.765517  4.766510
42833   7.583546e+09   37290448@N04  45.772827  4.841065
45655   7.583546e+09   37290448@N04  45.772827  4.841065
47958   8.150613e+09   58993764@N06  45.761180  4.831458
...              ...            ...        ...       ...
189381  4.440233e+10   90493526@N00  45.758316  4.825197
189382  4.421075e+10  144146684@N04  45.762635  4.837299
189383  4.512236e+10   95450872@N03  45.763657  4.836012
189384  4.507335e+10   95450872@N03  45.763657  4.836012
189385  4.512209e+10   61949122@N06  45.758181  4.831967

                                                     tags  \
16603                           lundimatin lyondefi38nuit
21127                           lundimatin lyondefi38nuit
42833   city blackandwhite water river french concrete...
45655   city blackandwhite water river french concrete...
47958   square squareformat hefe iphoneography instagr...
...                                                   ...
189381  croixrousse streetart wheatpaste wheatpaper co...
189382
189383  auvergnerhonealpes rhone lyonnais valleedurhon...
189384  auvergnerhonealpes rhone lyonnais valleedurhon...
189385       ngc paysage landscape ville urbain town tour

                                  title  date_taken_minute  date_taken_hour  \
16603   lundi matin comme tout autre 25                6.0             21.0
21127      lundi matin comme tout autre               25.0              6.0
42833                            bridge             2012.0             38.0
45655                      bridge rhone             2012.0             38.0
47958                       newlyonnais             2012.0             22.0
...                                 ...                ...              ...
189381             pasted paper big ben               18.0             17.0
189382                      white blood               36.0             16.0
189383             porte passage largue               48.0             19.0
189384                   passage largue               48.0             19.0
189385        tour peut en cacher autre               15.0             14.0

        date_taken_day  date_taken_month  date_taken_year date_upload_minute  \
16603              2.0            2011.0             11.0               15.0
21127             21.0               2.0           2011.0               11.0
42833             11.0               7.0           2012.0                NaN
45655             11.0               7.0           2012.0                NaN
47958              7.0               3.0           2012.0                NaN
...                ...               ...              ...                ...
189381            30.0               9.0           2018.0               11.0
189382             5.0              10.0           2018.0               41.0
189383            27.0               9.0           2018.0               40.0
189384            27.0               9.0           2018.0               29.0
189385            28.0               9.0           2018.0               21.0

        date_upload_hour  date_upload_day  date_upload_month  date_upload_year
16603               21.0              2.0             2011.0               NaN
21127               15.0             21.0                2.0            2011.0
42833                5.0             18.0               16.0            2012.0
45655                5.0             18.0               16.0            2012.0
47958               22.0             15.0                3.0            2012.0
...                  ...              ...                ...               ...
189381              23.0              5.0               10.0            2018.0
189382              22.0              5.0               10.0            2018.0
189383              22.0              5.0               10.0            2018.0
189384              22.0              5.0               10.0            2018.0
189385              22.0              5.0               10.0            2018.0

[42575 rows x 16 columns]

In [13]:
# Drop duplicates based on 'id' and 'user'
data_cleaned = data_cleaned.drop_duplicates(subset=['id', 'user'], keep='first')
print(f"After dropping duplicates based on ['id', 'user']: {len(data_cleaned)}")

# Drop empty lat and long
data_cleaned = data_cleaned.dropna(subset=['lat', 'long'])
print(f"After dropping rows with empty 'lat' or 'long': {len(data_cleaned)}")

# Save the cleaned data
data_cleaned.to_csv('../data/data_cleaned_titles.csv', index=False)

After dropping duplicates based on ['id', 'user']: 168096
After dropping rows with empty 'lat' or 'long': 168095

In [16]:

# Colonnes à vérifier
date_columns = {
    'date_taken_minute': (0, 60),
    'date_taken_hour': (0, 24),
    'date_taken_day': (1, 31),
    'date_taken_month': (1, 12),
    'date_taken_year': (1900, 2026),
    'date_upload_minute': (0, 60),
    'date_upload_hour': (0, 24),
    'date_upload_day': (1, 31),
    'date_upload_month': (1, 12),
    'date_upload_year': (1900, 2026)
}

# Résultats globaux
all_valid = True

for col, (min_val, max_val) in date_columns.items():
    if col not in data_cleaned.columns:
        print(f"\n COLONNE MANQUANTE: {col}")
        all_valid = False
        continue
    
    print(f"\n{col} [{min_val}-{max_val}]:")
    
    # Vérifier si ce sont des chiffres
    numeric_vals = pd.to_numeric(data_cleaned[col], errors='coerce')
    non_numeric = numeric_vals.isna().sum()
    
    if non_numeric > 0:
        print(f"{non_numeric} valeurs non-numériques")
        all_valid = False
        invalid_indices = data_cleaned[numeric_vals.isna()].index
        print(f"Exemples: {list(data_cleaned.loc[invalid_indices, col].head())}")
    else:
        print(f"Toutes les valeurs sont numériques")
    
    # Vérifier les plages
    out_of_range = ((numeric_vals < min_val) | (numeric_vals > max_val)).sum()
    
    if out_of_range > 0:
        print(f"{out_of_range} valeurs en dehors de la plage [{min_val}, {max_val}]")
        all_valid = False
        violations = (numeric_vals < min_val) | (numeric_vals > max_val)
        violation_vals = numeric_vals[violations]
        print(f"     Min: {numeric_vals.min()}, Max: {numeric_vals.max()}")
        print(f"     Exemples des violations:")
        for idx, val in violation_vals.head(5).items():
            print(f"       Ligne {idx}: {val}")
    else:
        print(f"Toutes les valeurs sont dans la plage [{min_val}, {max_val}]")

date_taken_minute [0-60]:
18 valeurs non-numériques
Exemples: [nan, nan, nan, nan, nan]
25 valeurs en dehors de la plage [0, 60]
     Min: 0.0, Max: 2019.0
     Exemples des violations:
       Ligne 35329: 2012.0
       Ligne 41465: 2012.0
       Ligne 41473: 2012.0
       Ligne 42833: 2012.0
       Ligne 43187: 2012.0

date_taken_hour [0-24]:
1 valeurs non-numériques
Exemples: [nan]
26 valeurs en dehors de la plage [0, 24]
     Min: 0.0, Max: 57.0
     Exemples des violations:
       Ligne 35329: 29.0
       Ligne 41473: 46.0
       Ligne 42833: 38.0
       Ligne 43187: 49.0
       Ligne 44632: 44.0

date_taken_day [1-31]:
1 valeurs non-numériques
Exemples: [nan]
Toutes les valeurs sont dans la plage [1, 31]

date_taken_month [1-12]:
1 valeurs non-numériques
Exemples: [nan]
25 valeurs en dehors de la plage [1, 12]
     Min: 1.0, Max: 2011.0
     Exemples des violations:
       Ligne 16603: 2011.0
       Ligne 41473: 17.0
       Ligne 44632: 27.0
       Ligne 44903: 19.0
       Ligne 49711: 31.0

date_taken_year [1900-2026]:
Toutes les valeurs sont numériques
2 valeurs en dehors de la plage [1900, 2026]
     Min: 11.0, Max: 2238.0
     Exemples des violations:
       Ligne 16603: 11.0
       Ligne 44504: 2238.0

date_upload_minute [0-60]:
45 valeurs non-numériques
Exemples: [nan, nan, nan, nan, nan]
Toutes les valeurs sont dans la plage [0, 60]

date_upload_hour [0-24]:
2 valeurs non-numériques
Exemples: [nan, nan]
24 valeurs en dehors de la plage [0, 24]
     Min: 0.0, Max: 54.0
     Exemples des violations:
       Ligne 35329: 47.0
       Ligne 41465: 32.0
       Ligne 41473: 46.0
       Ligne 43187: 49.0
       Ligne 44632: 44.0

date_upload_day [1-31]:
1 valeurs non-numériques
Exemples: [nan]
1 valeurs en dehors de la plage [1, 31]
     Min: 0.0, Max: 31.0
     Exemples des violations:
       Ligne 120378: 0.0

date_upload_month [1-12]:
1 valeurs non-numériques
Exemples: [nan]
27 valeurs en dehors de la plage [1, 12]
     Min: 1.0, Max: 2011.0
     Exemples des violations:
       Ligne 16603: 2011.0
       Ligne 41465: 17.0
       Ligne 41473: 17.0
       Ligne 42833: 16.0
       Ligne 44632: 27.0

date_upload_year [1900-2026]:
1 valeurs non-numériques
Exemples: [nan]
Toutes les valeurs sont dans la plage [1900, 2026]

In [18]:

print("VÉRIFICATION PAR LIGNE - GROUPES DE DATES")

# Définir les groupes de dates
taken_cols = ['date_taken_minute', 'date_taken_hour', 'date_taken_day', 'date_taken_month', 'date_taken_year']
upload_cols = ['date_upload_minute', 'date_upload_hour', 'date_upload_day', 'date_upload_month', 'date_upload_year']

# Plages de validation
validation_ranges = {
    'date_taken_minute': (0, 60), 'date_taken_hour': (0, 24), 'date_taken_day': (1, 31),
    'date_taken_month': (1, 12), 'date_taken_year': (1900, 2026),
    'date_upload_minute': (0, 60), 'date_upload_hour': (0, 24), 'date_upload_day': (1, 31),
    'date_upload_month': (1, 12), 'date_upload_year': (1900, 2026)
}

# Fonction pour vérifier si une date est valide
def is_date_valid(value, min_val, max_val):
    try:
        num_val = pd.to_numeric(value, errors='coerce')
        if pd.isna(num_val):
            return False
        return min_val <= num_val <= max_val
    except:
        return False

# Compter les dates invalides par ligne et par groupe
rows_with_all_invalid = []
rows_with_2_groups_invalid = []
rows_with_1_group_invalid = []

for idx, row in data_cleaned.iterrows():
    taken_invalid_count = 0
    upload_invalid_count = 0
    
    # Vérifier les dates taken
    for col in taken_cols:
        min_val, max_val = validation_ranges[col]
        if not is_date_valid(row[col], min_val, max_val):
            taken_invalid_count += 1
    
    # Vérifier les dates upload
    for col in upload_cols:
        min_val, max_val = validation_ranges[col]
        if not is_date_valid(row[col], min_val, max_val):
            upload_invalid_count += 1
    
    # Compter les groupes invalides (groupe invalide = tous les champs du groupe sont invalides)
    taken_all_invalid = taken_invalid_count == 5
    upload_all_invalid = upload_invalid_count == 5
    
    # Vérifier les conditions
    if taken_all_invalid and upload_all_invalid:
        rows_with_all_invalid.append(idx)
    elif (taken_all_invalid and upload_all_invalid is False and upload_invalid_count > 0) or \
         (upload_all_invalid and taken_all_invalid is False and taken_invalid_count > 0) or \
         (taken_all_invalid and upload_invalid_count == 0) or \
         (upload_all_invalid and taken_invalid_count == 0):
        # Au moins 2 groupes complets invalides, mais pas les deux groupes en même temps
        invalid_groups = sum([taken_all_invalid, upload_all_invalid])
        if invalid_groups >= 2:
            rows_with_2_groups_invalid.append(idx)
    elif taken_invalid_count == 5 or upload_invalid_count == 5:
        # Exactement 1 groupe complètement invalide
        rows_with_1_group_invalid.append(idx)

print(f"\nRésultats:")
print(f"- Lignes avec TOUTES les dates invalides (taken ET upload): {len(rows_with_all_invalid)}")
if len(rows_with_all_invalid) > 0:
    print(f"  Indices: {rows_with_all_invalid[:10]}")

print(f"\n- Lignes avec 1 groupe complet invalide (soit taken SOIT upload): {len(rows_with_1_group_invalid)}")
if len(rows_with_1_group_invalid) > 0:
    print(f"  Indices: {rows_with_1_group_invalid[:10]}")

print(f"\nRésumé:")
print(f"- Total lignes avec au moins une date invalide: {len(rows_with_all_invalid) + len(rows_with_1_group_invalid)}")
print(f"- Lignes valides complètement: {len(data_cleaned) - len(rows_with_all_invalid) - len(rows_with_1_group_invalid)}")

VÉRIFICATION PAR LIGNE - GROUPES DE DATES

Résultats:
- Lignes avec TOUTES les dates invalides (taken ET upload): 0

- Lignes avec 1 groupe complet invalide (soit taken SOIT upload): 0

Résumé:
- Total lignes avec au moins une date invalide: 0
- Lignes valides complètement: 168095