## Crawler results processing

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/flickr_photo_urls.csv")
print(f"Total entries before cleaning: {len(df)}")
df.head()

Total entries before cleaning: 40451

           user          id                                          photo_url
0  11817998@N05  4394694699  https://live.staticflickr.com/4026/4394694699_...
1  30624617@N03  4395181099  https://live.staticflickr.com/2711/4395181099_...
2  11545749@N06  4394803790  https://live.staticflickr.com/2708/4394803790_...
3  35853470@N00  4394748717  https://live.staticflickr.com/4049/4394748717_...
4  16197488@N06  4393799139  https://live.staticflickr.com/4048/4393799139_...

>### Count null URL entries

In [3]:
# Count null URL entries
null_url_count = df['photo_url'].isnull().sum()
print(f"Number of null URL entries: {null_url_count} - {null_url_count / len(df) * 100:.2f}% of total")

Number of null URL entries: 3238 - 8.00% of total

>### Remove duplicate entries

In [4]:
# Remove duplicate entries by user and id fields
before_dedup = len(df)
df_cleaned = df.drop_duplicates(subset=['user', 'id'])
df_cleaned.reset_index(drop=True, inplace=True)
after_dedup = len(df_cleaned)
print(f"Number of entries after removing duplicates: {after_dedup} (removed {before_dedup - after_dedup})")

Number of entries after removing duplicates: 39243 (removed 1208)

>### Save cleaned data

In [5]:
# Save cleaned data
df_cleaned.to_csv("../data/flickr_photo_urls_cleaned.csv", index=False)